# Basic Site Settings
locale: "en-US"
title: "Teng Zhang's Personal Homepage"
title_separator: "-"
description: "Academic homepage of Teng Zhang."
url: "https://zhangteng2000.github.io"
baseurl: ""

# If you forked academicpages, you may set your own repository here (optional)
repository: "zhangteng2000/zhangteng2000.github.io"

# Author Profile (sidebar)
author:
  name: "Teng Zhang (张腾)"
  avatar: "zt1.jpg"
  bio: "We must know, and we will know!"
  location: "Szeged, Hungary"


  # Academic profiles (fill only what you use)


# Site Settings
breadcrumbs: false
words_per_minute: 160
future: true
read_more: "disabled"
talkmap_link: false

# Feed (optional)
atom_feed:
  hide: false

# Reading Files
include:
  - .htaccess
  - _pages
exclude:
  - "*.sublime-project"
  - "*.sublime-workspace"
  - .asset-cache
  - .bundle
  - .github
  - .jekyll-assets-cache
  - .sass-cache
  - node_modules
  - vendor
  - Gemfile
  - Gemfile.lock
  - package.json*
  - README
  - LICENSE
  - Dockerfile

encoding: "utf-8"
markdown_ext: "markdown,mkdown,mkdn,mkd,md"

# Markdown / Syntax Highlighting
markdown: kramdown
highlighter: rouge
excerpt_separator: "\n\n"

kramdown:
  input: GFM
  hard_wrap: false
  auto_ids: true
  toc_levels: 1..6
  smart_quotes: lsquo,rsquo,ldquo,rdquo

#Collections (academicpages core)
collections:
  publications:
    output: true
    permalink: /:collection/:path/

include:
  - _pages



# Defaults (layout setting)
defaults:
  - scope:
      path: ""
      type: pages
    values:
      layout: single
      author_profile: true

  - scope:
      path: ""
      type: publications
    values:
      layout: single
      author_profile: true
      share: true

  - scope:
      path: ""
      type: talks
    values:
      layout: talk
      author_profile: true
      share: true

  - scope:
      path: ""
      type: teaching
    values:
      layout: single
      author_profile: true
      share: true

# Sass
sass:
  sass_dir: _sass
  style: compressed

# Permalink
permalink: /:categories/:title/
timezone: Etc/UTC

# Plugins (GitHub Pages compatible)
plugins:
  - jekyll-feed
  - jekyll-gist
  - jekyll-paginate
  - jekyll-sitemap
  - jemoji

whitelist:
  - jekyll-feed
  - jekyll-gist
  - jekyll-paginate
  - jekyll-sitemap
  - jemoji

# Archive pages (keep for tags/categories pages)
category_archive:
  type: liquid
  path: /categories/
tag_archive:
  type: liquid
  path: /tags/

# HTML Compression
compress_html:
  clippings: all
  ignore:
    envs: development
